{
  "env": {
    "es2021": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 13
  },
  "plugins": [
    "@typescript-eslint",
    "unused-imports"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "eol-last": [
      "error",
      "never"
    ],
    "func-style": [
      "error",
      "declaration"
    ],
    "indent": [
      "error",
      2
    ],
    "max-params": [
      "error",
      5
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": true
      }
    ],
    "prefer-arrow-callback": [
      "error"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": true
      }
    ],    
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "destructuredArrayIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": [
        "@typescript-eslint",
        "unused-imports"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ]
      }
    }
  ]
}